POSTGRES_HOST: "localhost"
POSTGRES_USER: "postgres"
POSTGRES_PASSWORD: "postgres"
POSTGRES_DBNAME: "postgres"
POSTGRES_PORT: "5432"
POSTGRES_SSLMODE: "disable"
POSTGRES_TIMEZONE: "America/Sao_Paulo"
POSTGRES_DEBUG: "true"
BOT_TOKEN: "bot token"
